.container{
    width: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

#name{
    padding: 8px;
    width: 95%;
    border-radius: 5px;
    border: 1px dashed gray;
}

.image{
    width: 100%;
    height: 180px;
    border: 1px solid green;
    margin: auto;
    margin-top: 20px;
}

.image>img{
    width: 100%;
    height: 100%;
}

.btn{
  display: block;
    margin: auto;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0500ff;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    background-color: gray;
}

#view{
    border: 2px solid #0500ff;
    color: #0500ff;
    width: 60px;
    padding: 9px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* border: 1px solid gray; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }

  #name-side{
    width: 55%;
    margin: 0 100px 10px 80px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 3px;
  }

  label{
    width: 60%;
    margin: 0 100px 10px 90px;
  }

  .image-sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2{
    text-align: center;
  }

  #image-side{
    width: 300px;
    height: 300px;
    margin: auto;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

